//Created by Administrator on 16-9-1.
extends layout

block content
   .container
       .row
           h3.text-center 影片列表
           table.table.table-hover.table-bordered.text-center
               thead
                  tr
                    th.text-center 电影名字
                    th.text-center 导演
                    th.text-center 国家
                    th.text-center 上映时间
                    th.text-center 录入时间
                    th.text-center 查看
                    th.text-center 更新
                    th.text-center 删除
               tbody
                   each item in movies
                       tr(class="item-id-#{item._id}")
                        td #{item.title}
                        td #{item.doctor}
                        td #{item.country}
                        td #{item.year}
                        td #{moment(item.meta.updatedAt).format('MM/DD/YYYY')}
                        td: a(target="_blank",href="../movie/#{item._id}") 查看
                        td: a(target="_blank",href="../movie/update/#{item._id}") 修改
                        td
                            button.btn.btn-danger.btn-xs.del(type="button",data-id="#{item._id}") 删除
   script(src="/js/admin.js")
